 {% extends 'base.html' %}
 {% load static %}
 {% block content %}

 <div class="container p-3 my-3 bg-dark text-white">
      <div class="row" style="margin-top: 20px;">
         <br><br><br><br><br><br><br>
         {% for i in patients %}
         <br>
         <h3>ФИО: {{ i.fullname }}</h3>
         <h3>Возраст: {{ i.age }}</h3>
         <h3>Номер телефона: {{ i.phone_number }}</h3>
         <h3>Причина обращение в больницу: {{ i.reason }}</h3>
         {% endfor %}
      </div>
   </div>

 {% endblock %}