{% extends "base.html" %}
{% load static %}


{% block content %}

    <br><br><br><br><br><br><br><br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Регистрация</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Ваше имя пользователя должно быть уникальным. Мы сообщим вам, если кто-то уже взял его.</small>
                </div>
                <div class="form-group">
                    <label for="password1">Пароль</label>
                    <input type="password" name="password1" class="form-control" id="password1">
                </div>
                <div class="form-group">
                    <label for="password2">Подтвердить пароль</label>
                    <input type="password" name="password2" class="form-control" id="password2">
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
            <hr>
            <div class="text-center">
                У вас уже есть аккаунт? <a href="{% url 'loginuser' %}">Войти здесь</a>
            </div>
        </div>
    </div>
{% endblock %}